html
    head
        title Node Boiler
        if userExternalStyles
            link(rel='stylesheet', href='/build/app.css')
    body
        h1 Hello Mars!


        script(src='/build/vendor.js')
        script(src='/build/app.js')